<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="abxWsGestPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iabx000002.iabx.net:80/abxWsGestService/abxWsGest"
                binding="basicHttpBinding" bindingConfiguration="abxWsGestPortBinding"
                contract="abxws.abxWsGest" name="abxWsGestPort" />
        </client>
    </system.serviceModel>
</configuration>